h3 Team leader
p Ivan Daum

h3 Back-end developper
p Alain Cajuste

h3 Front-end developper
p Antoine Grelard

h3 Peasant
p Thomas Maurer

h3 Pacman canvas
a(href="https://github.com/luciopanepinto/pacman", target="_blank") luciopanepinto