div(id='home' class='home')
    img(src='./assets/images/logo.png')
    ul
        li
            a(href='/games',class='btn btn-games') Play
        li
            a(href='/settings',class='btn btn-settings') Settings
        li
            a(href='/credits',class='btn btn-credits') Credits