div(class='nickname-choose')
    input(class='nickname', type='text', placeholder='New nickname',ng-model="settingsC.nickname")
    button(class='btn btn-confirm', ng-click="settingsC.onConfirmNickname()") Confirm
