$blue : #0033FF;
$red : #DD0000;
$lightblue: #66FFFF;
$yellow: #FFFF3D;
$green:#43ac6a;

$ghost-blinky-color: #ed1b24;
$ghost-pinky-color: #feaec9;
$ghost-inky-color: #4adecb;
$ghost-clyde-color: #f99c00;
$ghost-affraid-color: #2d3eff;
$pacmen-color:#fff200;

$width: 1024px;